<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<p class="glyphicon glyphicon-user">
  <%= link_to 'About', pages_about_path, class:'btn btn-success' %>
</p>
<div class="background">
  <h1 class="font">
    This is all about me
  </h1>
</div>
<div class="handsome">
  <h1 class="font">
    This is all about me
  </h1>
</div>
