// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  background-image: asset-url("chess.jpg");
  height: 100ch;
}

.font{
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
   font-style: italic;
  font-size: 100px;
}

.handsome{
  background-image: asset-url("download.jpg");
  height: 100vh;
}
